.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-image {
    flex-basis: 70%;
  }
  
  .button-image {
    flex-basis: 30%;
    text-align: right;
  }
  
  .button-image .button {
    background: transparent url(docs/github-button.png) 0 0 no-repeat;
    width: 134px;
    height: 58px;
    padding-top: 22px;
    padding-left: 68px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 23px;
    line-height: 1.2;
    color: #fff;
  }
  